page-contact {
    .centers-buttons{
        text-align: center
    }
    .btn-img{
        text-align: center
    }
    .pcfb p{
        color: #23384b;
        font-size: small;
        font-weight: 100;
    }
    .pcfb{
        padding-top: 5px;
        }
        direction: rtl;
        .code{
            color: #23384b;
            font-size: 1.5rem;
            font-weight: bold;
             text-align: center
            }
}
