<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="ink">
        <ion-title>الاعدادات</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-list>
        <ion-list-header>
          عن التطبيق
        </ion-list-header>
      <button ion-item  (click)="aboutModal()">
        معلومات التطبيق
        <ion-icon name='information-circle' item-start></ion-icon>
      </button>   
       <button ion-item  (click)="contactModal()">
        عن المبادرة
        <ion-icon name='contacts' item-start></ion-icon>
      </button>  
       <button ion-item  (click)="developerModal()">
        مطورين التطبيق
        <ion-icon name='code-working' item-start></ion-icon>
      </button>
    
    
    
    
    
    </ion-list>
      

    <ion-list  >
        <ion-list-header>
      معلومات المستخدم
      </ion-list-header>
          <ion-item  *ngIf="isLogin">
            {{userName}}
                <ion-icon name='person' item-start></ion-icon>
          </ion-item> 
      
          <button ion-item *ngIf="isLogin ; let user; else showLogin" (click)="LogOut()">
            تسجيل خروج 
             <ion-icon ios="ios-log-out" md="md-log-out" item-start></ion-icon>
           </button>  
           <ng-template #showLogin>
             <button ion-item (click)="login()">
               تسجيل الدخول 
                <ion-icon ios="ios-log-in" md="md-log-in" item-start></ion-icon>
              </button>  
           </ng-template>
      </ion-list>
</ion-content>
