page-lost-type {
    .c7{
        background-color: #24384a;
     color: white;
     border-radius: 10px 0px 0px 10px;
    }
    .c5{
        background-color: #24384a;
        color: #fff;
        border-radius: 0px 10px 10px 0px;
    }
    
    
    .card1{
        border-radius: 0px 10px 10px 0px;
        
        background: rgba(255,140,146,1);
    background: -moz-linear-gradient(top, rgba(255,140,146,1) 0%, rgba(243,183,123,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,140,146,1)), color-stop(100%, rgba(243,183,123,1)));
    background: -webkit-linear-gradient(top, rgba(255,140,146,1) 0%, rgba(243,183,123,1) 100%);
    background: -o-linear-gradient(top, rgba(255,140,146,1) 0%, rgba(243,183,123,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,140,146,1) 0%, rgba(243,183,123,1) 100%);
    background: linear-gradient(to bottom, rgba(255,140,146,1) 0%, rgba(243,183,123,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8c92', endColorstr='#f3b77b', GradientType=0 );
    }
    .card2{
        
        border-radius: 10px 0px 0px 10px; 
        background: #7acf98;
        background: -moz-linear-gradient(left, #7acf98 0%, #bbf2ab 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #7acf98), color-stop(100%, #bbf2ab));
        background: -webkit-linear-gradient(left, #7acf98 0%, #bbf2ab 100%);
        background: -o-linear-gradient(left, #7acf98 0%, #bbf2ab 100%);
        background: -ms-linear-gradient(left, #7acf98 0%, #bbf2ab 100%);
        background: linear-gradient(to right, #7acf98 0%, #bbf2ab 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7acf98', endColorstr='#bbf2ab', GradientType=1 );}
    .card3{
        border-radius: 0px 10px 10px 0px;  
    background: rgba(123,186,209,1);
    background: -moz-linear-gradient(left, rgba(123,186,209,1) 0%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(123,186,209,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(left, rgba(123,186,209,1) 0%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(left, rgba(123,186,209,1) 0%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(123,186,209,1) 0%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to right, rgba(123,186,209,1) 0%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bbad1', endColorstr='#b7deed', GradientType=1 );
    }
    .card4{
    border-radius: 10px 0px 0px 10px;  
    background: rgba(169,94,239,1);
    background: -moz-linear-gradient(45deg, rgba(169,94,239,1) 0%, rgba(232,177,214,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(169,94,239,1)), color-stop(100%, rgba(232,177,214,1)));
    background: -webkit-linear-gradient(45deg, rgba(169,94,239,1) 0%, rgba(232,177,214,1) 100%);
    background: -o-linear-gradient(45deg, rgba(169,94,239,1) 0%, rgba(232,177,214,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(169,94,239,1) 0%, rgba(232,177,214,1) 100%);
    background: linear-gradient(45deg, rgba(169,94,239,1) 0%, rgba(232,177,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a95eef', endColorstr='#e8b1d6', GradientType=1 );
    }
    
    
    .btn-img{
        height: 100px;
     padding-top: 2px;
     padding-bottom: 2px;
     }
     .main_card{
    
        margin: 6%;
         height: 80px;
         text-align: center;
         -webkit-box-shadow: 0px 0px 32px 11px rgba(0,0,0,0.12);
        -moz-box-shadow: 0px 0px 32px 11px rgba(0,0,0,0.12);
        box-shadow: 0px 0px 32px 11px rgba(0,0,0,0.12);
     }
     .mg{
        width: 60%;
        margin-top: 6%;
     }
}
