<ion-header>

  <ion-navbar color="ink">
    <ion-title>الموجودات / {{type}}  </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor=" let item of myData ">
    <ion-card *ngIf="item.type == type">
      <!-- <div style="text-align:center">
        <img style="width: 75%;" *ngIf=" type == 'نقود'" src="./assets/imgs/wallet.png"/>
        <img style="width: 75%;" *ngIf=" type == 'مستمسكات'" src="./assets/imgs/ids.png"/>
        <img style="width: 75%;" *ngIf=" type == 'اخرى'" src="./assets/imgs/search.png"/>
      
      </div> -->
      
        <ion-card-content>
          <ion-card-title>
            {{item.title}}
          </ion-card-title>
          <p>
            {{item.details}}
          </p>
          <p>
            <ion-icon name="pin"></ion-icon> {{item.location}}
          </p>
        </ion-card-content>
      
        <ion-row no-padding>
          <ion-col>
            <button *ngIf="showId != item.id" (click)="showComments(item.id)" ion-button clear small color="danger" icon-start>
              <ion-icon style="padding:10px" name='chatboxes'></ion-icon>
              التعليقات
            </button>
       
            <button *ngIf="showId == item.id" (click)="hideComments()" ion-button clear small color="danger" icon-start>
              <ion-icon style="padding:10px" name='eye-off'></ion-icon>
              اخفاء التعليقات
            </button>
          </ion-col>
        </ion-row>
      
        <div *ngIf="showId == item.id">
  
            <ion-grid *ngIf="AuthState">
                <ion-row>
                  <ion-col col-10>
                      <ion-input type="text" [(ngModel)]="commentData.comment" placeholder="اضافة تعليق"></ion-input>

                  </ion-col>
        
                  <ion-col col-2>
                      <button (click)="addComment(item.id)" *ngIf="commentData.comment" clear item-right class="sendComment"> <ion-icon name='md-send'></ion-icon></button>
                  </ion-col>
                </ion-row>
              </ion-grid>


      <ion-item-group>
          <small *ngIf="!AuthState" padding style="color:#8a8a8a">يرجى تسجيل الدخول لتتمكن من اضافة تعليق</small>
        <div *ngFor=" let item2 of myComments ">
            <ion-item *ngIf="item2.found_id == item.id">
                <ion-icon style="color:#23384b" name="chatbubbles" item-start></ion-icon>
               {{ item2.comment}}
            </ion-item>
        </div>
   
    
       </ion-item-group>
      
        </div>
      
      </ion-card>
  </div>
  
  </ion-content>
  